<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.forhealth">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".dagger.ApplicationScope"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseTheme">

<!--      Splash Screen-->

        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="landscape"
            android:label="ForHealth"
            android:theme="@style/Theme.Transparent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--      Welcome Page-->

        <activity android:name="com.example.forhealth.activity.WelcomePage"
            android:label="ForHealth"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BaseTheme">
        </activity>

<!--        ChoiceDoctorOrPatient-->

        <activity android:name="com.example.forhealth.activity.ChoiceDoctorOrPatient"
            android:label="ForHealth"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BaseTheme">
        </activity>

<!--       DoctorsLoginPage-->

        <activity android:name="com.example.forhealth.activity.DoctorsLoginPage"
            android:label="ForHealth"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BaseTheme">
        </activity>

<!--       Login-->

        <activity android:name="com.example.forhealth.activity.Login"
            android:label="ForHealth"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BaseTheme">
        </activity>

<!--        Signup-->

        <activity android:name="com.example.forhealth.activity.Signup"
            android:label="ForHealth"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BaseTheme">
        </activity>

<!--        ExistingUsers-->

        <activity android:name="com.example.forhealth.activity.ExistingUsers"
            android:label="ForHealth"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BaseTheme">
        </activity>

<!--        DoctorsLandingPage-->

        <activity android:name="com.example.forhealth.activity.DoctorsLandingPage"
            android:label="ForHealth"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BaseTheme">
        </activity>

<!--        CreateNewPatient-->

        <activity android:name="com.example.forhealth.activity.CreateNewPatient"
            android:label="ForHealth"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BaseTheme">
        </activity>

<!--        guest-->

        <activity android:name="com.example.forhealth.activity.GuestMode"
            android:label="ForHealth"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BaseTheme">
        </activity>

<!--        SessionInformation-->

        <activity android:name="com.example.forhealth.activity.SessionInformation"
            android:label="ForHealth"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BaseTheme">
        </activity>

<!--        ExistingPatient-->

        <activity android:name="com.example.forhealth.activity.ExistingPatient"
            android:label="ForHealth"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BaseTheme">
        </activity>

<!--        PatientProfilePage-->

        <activity android:name="com.example.forhealth.activity.PatientProfilePage"
            android:label="ForHealth"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BaseTheme">
        </activity>

<!--       SessionControl Panel-->

        <activity android:name="com.example.forhealth.activity.SessionControlPanel"
            android:label="ForHealth"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BaseTheme">
        </activity>

        <!--        ForgotPassword-->

        <activity android:name="com.example.forhealth.activity.ForgotPassword"
            android:label="ForHealth"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BaseTheme">
        </activity>

    </application>

</manifest>